<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<main class="">
    <div class="container">
        <div class="grid-container-3">
          <div class="grid-item"> DashBoard</div>
          <div class="grid-item">|</div>
          <div class="grid-item">Bookings</div>
        </div>
        <div class="grid-container-4">
          <div class="grid-item"> Pass Bookings</div>
          <div class="grid-item">Current Bookings</div>
          <div class="grid-item">Up Coming Bookings</div>
        </div>
        <div class="grid-container-5">
          <div class="grid-item-1"> Date:  <input type="text" readonly></div>
          <div class="grid-item-2">Time:  <input type="text" readonly></div>
          <div class="grid-item-3">Pet:  <input type="text" readonly style="width: 30%;"></div>
          <div class="grid-item-4">Pet CareTaker: <input type="text" readonly></div>
          <div class="grid-item-5">Phone Number: <input type="text" readonly></div>
          <div class="grid-item-6">Service: <input type="text" readonly style="width: 30%"></div>
          <div class="grid-item-7">Price: <input type="text" readonly></div>
        </div>
        <div style="text-align: right; width: 50vw; padding-top: 2%;">
            <a href="/rate" class="btn btn-light">Rate Pet CareTaker</a> 
            <a href="/rate" class="btn btn-light">Help</a>
        </div> 
    </div>
    


</main>

<%- include partials/footer.ejs %>