<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<main class="container d-flex justify-content-center flex-column align-items-center p-4">
  
  <div class="row justify-content-center mt-2 border border-4 p-3 bg-light form-container" style="width: 60%;">
    <div class="col-md-8">      
      <form method="post">
        <h1 class="text-center mb-3"><%= title %></h1>
        <div class="row g-3">
          <div class="col-md-6">
            <label for="yourName" class="form-label">Your's Name</label>
            <input type="text" class="form-control" id="yourName" name="yourName" placeholder="" readonly required>
          </div>
          <div class="col-sm-12">
            <label for="service" class="form-label">Service: </label>
            <button type="button" class="btn btn-light btn-sm">Walking</button>
            <button type="button" class="btn btn-light btn-sm">Boarding</button>
            <button type="button" class="btn btn-light btn-sm">House Sitting</button>
            <button type="button" class="btn btn-light btn-sm">Drop-In Visit</button>
          </div>
          <div class="col-sm-12">
            <label for="about" class="form-label">About your Experience</label>
            <textarea class="form-control" id="about" name="about" placeholder="" cols="30" rows="5" readonly required></textarea>            
          </div>
          <div class="col-sm-12">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" id="weight" name="weight" min="0" placeholder="" readonly required>
          </div>

          <div class="col-sm-12">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="number" class="form-control" id="phone" name="phone" placeholder="" readonly required>
          </div>
          

          <hr class="my-4">
          <div>
            <input class="btn btn-success btn-lg" type="submit" value="Submit">
            
          </div>
      </form>
    </div>

  </div>

</main>
<%- include partials/footer.ejs %>